ND.TaskDemo/ND.FluentTaskScheduling.CrawlKeGui/Web References/getModifyAndRefundStipulates/GetModifyAndRefundStipulatesServiceImpl_1_0Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://getmodifyandrefundstipulates.b2b.service.version1_0.webservice.model.ltips.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GetModifyAndRefundStipulatesServiceImpl_1_0Service" targetNamespace="http://getmodifyandrefundstipulates.b2b.service.version1_0.webservice.model.ltips.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://getmodifyandrefundstipulates.b2b.service.version1_0.webservice.model.ltips.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="getModifyAndRefundStipulates" type="tns:getModifyAndRefundStipulates" />
      <xs:element name="getModifyAndRefundStipulatesResponse" type="tns:getModifyAndRefundStipulatesResponse" />
      <xs:element name="reply" type="tns:getModifyAndRefundStipulatesReply" />
      <xs:element name="request" type="tns:getModifyAndRefundStipulatesRequest" />
      <xs:complexType name="getModifyAndRefundStipulates">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="tns:getModifyAndRefundStipulatesRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getModifyAndRefundStipulatesRequest">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractLiantuoRequest">
            <xs:sequence>
              <xs:element minOccurs="0" name="lastModifiedAt" type="xs:string" />
              <xs:element minOccurs="0" name="lastSeatId" type="xs:int" />
              <xs:element minOccurs="0" name="param1" type="xs:string" />
              <xs:element minOccurs="0" name="param2" type="xs:string" />
              <xs:element minOccurs="0" name="param3" type="xs:string" />
              <xs:element minOccurs="0" name="param4" type="xs:string" />
              <xs:element minOccurs="0" name="rowPerPage" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractLiantuoRequest" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="agencyCode" type="xs:string" />
          <xs:element minOccurs="0" name="sign" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getModifyAndRefundStipulatesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:getModifyAndRefundStipulatesReply" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getModifyAndRefundStipulatesReply">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:abstractLiantuoReply">
            <xs:sequence>
              <xs:element minOccurs="0" name="leftPages" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="modifyAndRefundStipulateList" nillable="true" type="tns:modifyAndRefundStipulateVo" />
              <xs:element minOccurs="0" name="param1" type="xs:string" />
              <xs:element minOccurs="0" name="param2" type="xs:string" />
              <xs:element minOccurs="0" name="param3" type="xs:string" />
              <xs:element minOccurs="0" name="param4" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="abstractLiantuoReply" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="0" name="returnCode" type="xs:string" />
          <xs:element minOccurs="0" name="returnMessage" type="xs:string" />
          <xs:element minOccurs="0" name="returnStackTrace" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="modifyAndRefundStipulateVo">
        <xs:sequence>
          <xs:element minOccurs="0" name="airlineCode" type="xs:string" />
          <xs:element minOccurs="0" name="changePercentAfter" type="xs:double" />
          <xs:element minOccurs="0" name="changePercentBefore" type="xs:double" />
          <xs:element minOccurs="0" name="changeStipulate" type="xs:string" />
          <xs:element minOccurs="0" name="changeTimePoint" type="xs:int" />
          <xs:element minOccurs="0" name="modifiedAt" type="xs:string" />
          <xs:element minOccurs="0" name="modifyStipulate" type="xs:string" />
          <xs:element minOccurs="0" name="param1" type="xs:string" />
          <xs:element minOccurs="0" name="param2" type="xs:string" />
          <xs:element minOccurs="0" name="param3" type="xs:string" />
          <xs:element minOccurs="0" name="param4" type="xs:string" />
          <xs:element minOccurs="0" name="refundPercentAfter" type="xs:double" />
          <xs:element minOccurs="0" name="refundPercentBefore" type="xs:double" />
          <xs:element minOccurs="0" name="refundStipulate" type="xs:string" />
          <xs:element minOccurs="0" name="refundTimePoint" type="xs:int" />
          <xs:element minOccurs="0" name="seatCode" type="xs:string" />
          <xs:element minOccurs="0" name="seatId" type="xs:int" />
          <xs:element minOccurs="0" name="seatType" type="xs:int" />
          <xs:element minOccurs="0" name="suitableAirline" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getModifyAndRefundStipulatesResponse">
    <wsdl:part name="parameters" element="tns:getModifyAndRefundStipulatesResponse" />
  </wsdl:message>
  <wsdl:message name="getModifyAndRefundStipulates">
    <wsdl:part name="parameters" element="tns:getModifyAndRefundStipulates" />
  </wsdl:message>
  <wsdl:portType name="GetModifyAndRefundStipulatesService_1_0">
    <wsdl:operation name="getModifyAndRefundStipulates">
      <wsdl:input name="getModifyAndRefundStipulates" message="tns:getModifyAndRefundStipulates" />
      <wsdl:output name="getModifyAndRefundStipulatesResponse" message="tns:getModifyAndRefundStipulatesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetModifyAndRefundStipulatesServiceImpl_1_0ServiceSoapBinding" type="tns:GetModifyAndRefundStipulatesService_1_0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getModifyAndRefundStipulates">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getModifyAndRefundStipulates">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getModifyAndRefundStipulatesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetModifyAndRefundStipulatesServiceImpl_1_0Service">
    <wsdl:port name="GetModifyAndRefundStipulatesServiceImpl_1_0Port" binding="tns:GetModifyAndRefundStipulatesServiceImpl_1_0ServiceSoapBinding">
      <soap:address location="http://ws.51book.com:8000//ltips/services/getModifyAndRefundStipulatesService1.0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>